
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta content="IE=11.0000" http-equiv="X-UA-Compatible" />
    <% include("/templates/common/top.html"){} %>
    <script type="text/javascript" src="${ctxPath}/takeNames/takeNamesList.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="欧冶采购，专业的第三方工业品采购服务平台。诚信企业俱乐部，优质资源展示厅" />
    <meta name="keywords" content=" 采购，企业采购，采购网，网上采购，电子采购，集中采购，互联网采购，采购咨询，共享平台，制造企业，招标，投标，采购信息，采购宝，招标公告，B2B网站，中国采购与招标网，采购平台，宝钢采购平台，阳光采购，政府采购，企业集采，中国供应商，名企采购，大买家采购，采购解决方案，购买，咨询价格，求购信息，商机信息，报价，询价信息，商机，东方钢铁，欧冶，欧冶云商，宝钢，500强，工业品，工业企业，MRO" />
</head>
<body>
<style>
    *{
        font-family: 微软雅黑;
        outline: none;
        margin: 0;
        padding: 0;
    }
</style>
<div class='top_top'>
    <div class='logbox' style="background: #f9f9f9;height: 30px;width: 100%;border-bottom: 1px solid #ededed;font-size: 14px;line-height: 20px;color: #333;">
            <div class="top container" style="margin-right:auto;margin-left:auto;width: 940px;position:initial;">
                <div class="fd-left" style="margin-right: 100px;width: 200px;height: 20px;float: none;position: absolute">
                    <a href="/home-web/manager/index" title="首页"><img style="height:20px" src='/home-web/img/logo2.png' /></a><a href="/home-web/manager/login">请登录</a>  |  <a href="/home-web/manager/register" target="_blank">免费注册</a>
                </div>
                <div class="topbar-mid" style=" width: 400px;float: none;margin-left: 360px;">
                    <a href="/home-web/manager/index" >首页</a>  |
                    <a href="/home-web/v1/takeNames/queryHtml"  target="_blank">预备姓名</a>  |
                    <a>家庭成员</a>  |
                    <a>婴儿知识</a>  |
                    <a>母婴商城</a>
                </div>
            </div>
    </div>
</div>
</body>
</html>