<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>绑定家庭成员</title>
    <% include("/templates/common/top.html"){} %>
    <script type="text/javascript" src="${ctxPath}/manager/registerxx.js"></script>
</head>
<body>
<div class="m_r">
    <div class="m_r_t"><span>绑定家庭成员</span></div>
</div>
<div class="m_r">

    <div class="blank40"></div>
    <div class="form-group col-xs-6">
        <div class="col-xs-11">
            <input type="text" id="name" name="name" class="form-control" placeholder="成员名称">
        </div>
    </div>
    <div class="form-group col-xs-6">
        <div class="col-xs-11">
            <input type="text" id="gender" name="gender" class="form-control" placeholder="性别">
        </div>
    </div>
    <div class="form-group col-xs-6">
        <div class="col-xs-12">
            <input type="text" id="address" name="address" class="form-control" placeholder="年龄">
        </div>
    </div>
    <div class="form-group col-xs-6">
        <button  class="btn btn-success"  id="addTable" onclick="add_tr(this)" >增  加</button>
        <button  class="btn btn-warning"  id="deleteTable" onclick="del_tr(this)">删  除</button>
    </div>
    <div class="blank30"></div>
</div>
<div class="m_r">
    <div align="center">
        <!--<input type="checkbox"> 记住我-->
        <button  class="btn btn-success"   onclick="" >完  成</button>
    </div>
</div>
</body>
</html>