<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>导航</title>
    <% include("/templates/common/top.html"){} %>
</head>
<body>
<ul class="nav nav-primary nav-justified">
    <li class="active"><a href="your/noce/url">首页</a></li>
    <li><a href="your/noce/url">动态 <span class="label label-badge label-success">4</span></a></li>
    ...
</ul>
<div class="list-group">
    <a href="#" class="list-group-item">用div >项目</a>
    <a href="#" class="list-group-item">待办</a>
    <a href="#" class="list-group-item">需求</a>
    <a href="#" class="list-group-item active">任务</a>
    <a href="#" class="list-group-item">Bug</a>
    <a href="#" class="list-group-item">用例</a>
</div>
</body>

</html>