<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mlk.home.mapper.ManagerConfigMapper">
    <select id="queryByConfigKey" resultType="com.mlk.home.entity.ManagerConfig">
        select * from manager_config where config_key=#{configKey}
    </select>
    <select id="queryManagerConfigByPage" resultType="com.mlk.home.entity.ManagerConfig">
        select * from manager_config order by create_time desc
    </select>

</mapper>